#destaques {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#destaques .Banner {
    min-width: 65vw;
}

#destaques .Banner img {
    min-width: inherit;
}

#filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    width: 20vw;
    height: max-content;
}

#lista {}