#destaques {
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#destaques .Banner {
    min-width: 65vw;
}

#destaques .Banner img {
    min-width: inherit;
}

#filtro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    left: 0;
    border: 2px inset rgba(0, 0, 0, 0.534);
    width: 20vw;
    height: max-content;
    text-align: center;
}

#lista {}