#destaques {
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#destaques .Banner {
    min-width: 65vw;
}

#destaques .Banner img {
    min-width: inherit;
}

#filtro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    left: 0;
    border: 2px inset rgba(0, 0, 0, 0.534);
    width: 20vw;
    height: max-content;
    text-align: center;
    font-size: x-large;
}

#lista {
    width: calc(99vw - 5px);
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    font-size: larger;

    .card {
        border: 1px solid rgba(0, 0, 0, 0.534);
        margin: 0px 0px 1rem 0px;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #000;
        background-color: rgba(0, 0, 0, 0.3);

        img {
            max-width: 150px;
            max-height: 150px;
        }


    }

    #sobre {
        text-align: start;
        padding: 3rem;
    }

    .card-body:hover {
        border: 2px inset rgba(24, 121, 0, 0.5);
        transition: border 0.1s;
    }
}