.login {
    margin: 20px 25vw 10px 25vw;
}

.cadastro {
    margin: 20px 35vw 10px 35vw;
}

.form-body {
    margin-top: 10vh;
    margin-bottom: 35vh;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    padding: 1rem;
    font-size: 1.8rem;

    b {
        font-size: 1.5rem;
        font-weight: 400;
        color: red;
    }

    fieldset {
        display: grid;
        border: groove;
        border-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
    }

    .olho {
        overflow: hidden;
        position: relative;
        bottom: 33px;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        background-color: rgba(0, 0, 0, 0);
        border: none;

        svg {
            width: 100%;

            height: 100%;
        }



    }

    input {
        /* background-color: rgb(0, 0, 0, 0.1); */
        height: 2rem;
        border-radius: 10px;
        padding-left: 3rem;
        font-size: 1.5rem;
    }

    button {
        background-color: rgba(0, 0, 0, 0.1);
        height: 2rem;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    a {
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 1.3rem;
    }

    a:hover {
        text-decoration: underline;
    }

    .alerta {
        text-align: center;
        font-size: 1rem;
        color: rgba(250, 50, 50, 1);
    }
}